<html>
<body>
<table border="solid">
    <thead>
    <tr>
        <th style="width:10%;">GeneratorID</th>
        <th style="width:20%">Generator Name</th>
        <th style="width:60%">Measurement time</th>
        <th style="width:10%">Power</th>
    </tr>
    </thead>
    <tbody>
    {% for data in reportData %}
        <tr>
            <td>{{ data.generatorID.id }}</td>
            <td>{{ data.generatorID.generatorName }}</td>
            <td>{{ data.reportDate|date('Y-m-d H:00:00') }}</td>
            <td>{{ data.generatorPower }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>